<!DOCTYPE html>
<html>
<head>
   <title></title>

   <link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap-theme.min.css">
   <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body ng-app="polls">
   <div class="container">
      <h1>MaMaThiVa - Make easy polls</h1>

      <div style="text-align: center;" class="alert alert-info ng-cloak" ng-controller="PollsController">
         <p> {{ nbPolls }} polls have been created in total </p>
         <p> {{ nbPollsCreatedThisWeek }} polls have been created this week </p>
         <p> {{ nbPollsOpen }} polls are still open (state = 'active') </p>
      </div>

   </div>

   <script src="/components/angular/angular.js"></script>
   <script>
      var myApp = angular.module('polls', []);
      myApp.controller('PollsController', ['$scope', '$http', function($scope, $http) {
         $http({
            method: 'GET',
            url: '/polls'
         }).then(function successCallback(response) {
            var polls = response.data;

            $scope.nbPolls = polls.length;

            var nbPollsOpen = 0;
            var nbPollsCreatedThisWeek = 0;
            const SEVEN_DAYS_IN_MILLISECONDS = 604800000;

            for (var i in polls) {
               if (polls[i].state === 'active')
                  nbPollsOpen++;

               if (Date.now() - polls[i].creationDate <= SEVEN_DAYS_IN_MILLISECONDS)
                  nbPollsCreatedThisWeek++;
            }

            $scope.nbPollsOpen = nbPollsOpen;
            $scope.nbPollsCreatedThisWeek = nbPollsCreatedThisWeek;
         }, function errorCallback(response) {
            console.log('error');
         });
      }]);
   </script>
</body>
</html>