<!DOCTYPE html>
<html lang="en">


  <head>
    <title>Mamathiva</title>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>MaMaThiVa</title>
    <meta content='lab2023' name='author'>
    <meta content='' name='description'>
    <meta content='' name='keywords'>
    <link href="assets/stylesheets/application-a07755f5.css" rel="stylesheet" type="text/css" />
    <link href="assets/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/chart/angular-chart.css">
    <link href="assets/images/logo_t.png" rel="icon" type="image/ico" />
    <link rel="stylesheet" type="text/css" href="css/style.css">


    <style type="text/css">

      body {
        background-color: #eee;
      }

      *[role="form"] {
        max-width: 530px;
        padding: 15px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 0.3em;
      }

      *[role="form"] h2 {
        margin-left: 5em;
        margin-bottom: 1em;
      }

    </style>
  </head>
  <body>
    <br>
    <br>
    <br>
    <div class="container">

	  			<!-- <form method="post"> -->
      <form class="form-horizontal" role="form" method="post">
        <h2>Registration Form</h2>
        <!-- email form -->
        <div class="form-group">
          <label for="Email" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input name="email" type="email" id="email" placeholder="Email" class="form-control">
            <!-- <input type="password" id="password" placeholder="Password" class="form&#45;control"> -->
          </div>
        </div>



        <div class="form-group">
          <label for="password" class="col-sm-3 control-label">Password</label>
          <div class="col-sm-9">
            <input name="password" type="password" id="password" placeholder="Password" class="form-control">
          </div>
        </div>


        <!-- password confirmation -->
        <div class="form-group">
          <label for="password" class="col-sm-3 control-label">Password confirm</label>
          <div class="col-sm-9">
            <!-- <input name="firstName"  type="text"     id="fisrtName" placeholder="enter first name" class="form&#45;control"> -->
            <input name="password-c" type="password" id="password"  placeholder="Password"         class="form-control">
          </div>
        </div>

        <!-- Lirst Name -->
        <div class="form-group">
          <label for="fisrtName" class="col-sm-3 control-label">First Name</label>
          <div class="col-sm-9">
            <input name="firstname" type="text" id="fisrtName" placeholder="enter first name" class="form-control">
          </div>
        </div>

        <!-- Last Name -->
        <div class="form-group">
          <label for="Last Name" class="col-sm-3 control-label">Last Name</label>
          <div class="col-sm-9">
            <input name="lastname" id="lastName" type="password"  placeholder="enter last Name" class="form-control">
          </div>
        </div>

        <!--  -->
        <!-- <div class="form&#45;group"> -->
        <!--   <!&#45;&#45; <label for="birthDate" class="col&#38;#45;sm&#38;#45;3 control&#38;#45;label">Date of Birth</label> &#45;&#45;> -->
        <!--   <div class="col&#45;sm&#45;9"> -->
        <!--     <!&#45;&#45; <input type="date" id="birthDate" class="form&#38;#45;control"> &#45;&#45;> -->
        <!--   </div> -->
        <!-- </div> -->

						<!-- <div class="form&#45;group"> -->
            <!--   <input id="submit" name="submit" type="submit" value="Send" class="btn btn&#45;primary"> -->
						<!-- </div> -->

	  				<!-- <div class="form&#45;group centered"> -->
	  				<!-- 	<label for="password">Password :</label> -->
	  				<!-- 	<input name="password" id="password" type="password" class="form&#45;control"></input> -->
	  				<!-- </div> -->

        <div class="form-group">
          <div class="col-sm-9 col-sm-offset-3">
            <!-- <input id="submit" name="submit" type="submit" value="Send" class="btn btn&#45;primary"> -->
            <input id="submit" name="submit" type="submit" value="Sign Up" class="btn btn-primary btn-block"></button>
          </div>
        </div>
      </form> <!-- /form -->
    </div> <!-- ./container -->

  </body>
</html>
