body {
   /*background-color: rgb(214,184,152) !important;*/
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.home {
    text-align: center;
}

.return {
    margin-top: 10px;
    float: right;
}

.add-poll {
    margin: auto;
    width: 300px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.classWithPad { margin:10px; padding:10px; }