<div ng-controller="PollsCtrl">
  <div class='wrapper' >
    <div class='row'>
      <div class='col-lg-12'>
        <form ng-submit="submitQuestion(pollId)">
          <fieldset class='text-center'>
            <legend>Create poll's questions - {{pollId}}</legend>
            <div class='form-group'>
              <input type="text" ng-model="title" name="title" class="form-control" id="name" placeholder="Title" required>
            </div>
            <div class='form-group'>
              <input type="text" ng-model="choice1" name="choice1" class="form-control" placeholder="Enter choice ... (If empty the choice is not used)" >
            </div>
            <div class='form-group'>
              <input type="text" ng-model="choice2" name="choice2" class="form-control" placeholder="Enter choice ... (If empty the choice is not used)" >
            </div>
            <div class='form-group'>
              <input type="text" ng-model="choice3" name="choice3" class="form-control" placeholder="Enter choice ... (If empty the choice is not used)" >
            </div>
            <div class='form-group'>
              <input type="text" ng-model="choice4" name="choice4" class="form-control" placeholder="Enter choice ... (If empty the choice is not used)" >
            </div>
            <div class='form-group'>
              <input type="text" ng-model="choice5" name="choice5" class="form-control" placeholder="Enter choice ... (If empty the choice is not used)" >
            </div>
            <div class='form-group'>
              <input type="text" ng-model="choice6" name="choice6" class="form-control" placeholder="Enter choice ... (If empty the choice is not used)" >
            </div>

            <div id="choices">
            </div>

            <!--<button type="button" onclick="addChoice()">Add another choice</button>-->

            <div class='text-center row'>
               <div class="col-lg-4"><button type="button" class="btn btn-primary btn-block" ng-click="finish()">Finish</button></div>
               <div class="col-lg-4"><button type="submit" class="btn btn-primary btn-block" ng-click="finish=true">Add and finish</button></div>
              <div class="col-lg-4"><button type="submit" class="btn btn-primary btn-block">Add and create next question</button></div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
var i = 3;
function addChoice() {
   if(i > 10) {
      alert('Too many choices !');
   }
   else {
      $('#choices').html('<div class="form-group"><input type="text" ng-model="choice'+i+'" name="choice' + i++ + '" class="form-control" id="name" placeholder="Enter choice ..." required></div>');
   }
}
</script>
