<p style="text-align: center; margin-top: 20px;"><img  src="assets/images/logo_t.png"></p>
<h1>Welcome on MaMaThiVa</h1>

<h1>
<i class="fa fa-minus"></i>
<i class="fa fa-minus"></i>
<i class="fa fa-minus"></i>
<i class="fa fa-minus"></i>

<i class="fa fa-star"></i>

<i class="fa fa-minus"></i>
<i class="fa fa-minus"></i>
<i class="fa fa-minus"></i>
<i class="fa fa-minus"></i>
</h1>

<p style="text-align: center; width: 600px; margin: auto; margin-top: 30px;">MaMaThiVa is a project which permit to a speaker to create a set of questions and let the audience answer on their device (PC, phone, tablet) just by transmitting a short URL.</p>