<div ng-controller="PollsCtrl">
   <div class='wrapper' >
      <div class='row'>
         <div class='col-lg-12'>
            <form action="/user/polls" method="POST">
               <fieldset class='text-center'>
                  <legend>Add a poll</legend>
                  <div class='form-group'>
                     <input type="text" name="title" class="form-control" id="name" placeholder="Title" required>
                  </div>
                  <div class='form-group'>
                     <input type="text" name="state" class="form-control" id="state" placeholder="State (drafti, active, closed)" required>
                  </div>
                  <div class='form-group'>
                     <input type="text" name="access" class="form-control" id="access" placeholder="Access (public, private)" required>
                  </div>
                  <div class='text-center'>
                     <button type="submit" class="btn btn-primary btn-block">Next</button>
                  </div>
               </fieldset>
            </form>
         </div>
      </div>
   </div>
   <br><hr><br>
   <pre>{{ polls | json}}</pre>
</div>