<div class="container"> 
   <h1>Stats of $pool_name</h1>
   <button style="margin-bottom:5px;"type="button" class="btn btn-primary btn-block">Close pool</button>
   <h2>Question $nb</h2>
   <div>
      <img style="height:500px;" src="http://3.bp.blogspot.com/-wOJqQk3PCq0/TygQIqnkqtI/AAAAAAAADrM/3yhORCNd9m0/s1600/3d_pie_chart.jpg" />
   </div>
   <div class="col-sm-6" >
      <button style="margin-bottom:5px;" type="button" class="btn btn-primary btn-block disabled">Previous question</button>
   </div>
   <div class="col-sm-6" >
      <button style="margin-bottom:5px;" type="button" class="btn btn-primary btn-block">Next question</button>
   </div>
</div>
