<div ng-controller="PollsCtrl" data-ng-init="loadPolls()">
   <div class='wrapper' >
      <div class='row'>
         <div class='col-lg-12'>
            <legend class='text-center'>List of polls</legend>
            <table class='table'>
               <thead>
                  <tr>
                     <th>Title</th>
                     <th class='actions'>
                        Actions
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="poll in polls">
                     <td>{{poll.title}}</td>
                        <td class='action'>
                           <a class='btn btn-info' ng-click='showStatistics(poll._id)'>
                              Show statistics
                           </a>
                        </td>
                     </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>