extends layout

block content
  .container.home
    h1= title

    .alert.alert-info
      p #{polls.length} polls have been created in total

      - var nbPollsOpen = 0
      - var nbPollsCreatedThisWeek = 0
      - var sevenDaysInMilliseconds = 604800000

      each poll in polls
        if poll.state == 'active'
          - nbPollsOpen++

        if Date.now() - poll.creationDate <= sevenDaysInMilliseconds
          - nbPollsCreatedThisWeek++

      p #{nbPollsCreatedThisWeek} polls have been created this week

      p #{nbPollsOpen} polls are still open (state = 'active')


    .panel.panel-danger
      .panel-heading GET requests - Get polls

      .panel-body
        a(href='/polls') Show details of polls !